// shoreline cc prototype custom styles
// ------------------------------------

.img-bg {
  background-color: $light-gray;
  background-size: 100%;
  margin: 50px 0;
  padding: 20px 0;
  &.img h1, &.img h3 {
    color: $white;
  }
}

hr {
  width: 80%
}
.home-stat {
  font-size: 125%;
  font-weight: 500;
  div {
    padding: 0 25px;
  }

  p {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background-color: $light-gray;
    padding:40px;
    text-align: center;
  }
}

.get-started {
  margin: 60px;
  div {
    padding: 0 75px;
  }
  p:first-child {
    font-size: 250%;
    font-weight: 500;
    width: 150px;
    height: 150px;
    border-radius: 250px;
    background-color: $light-gray;
    padding:40px;
    text-align: center;
    margin: 0;
  }
  p {
    margin: 0 -35px 25px;
  }
  a.button {
    display: block;
    text-align: center;
  }
}
.card {
  @include grid-column(3);
  padding:0;
  margin-bottom: 50px;
  .card-inner {
    height: 350px;
    border: solid 1px $light-gray;
    margin-right: 10px;
    padding: 0;
  }
  &:last-child {
    .card-inner {
      margin-right: 0;
    }
  }
  div{
    padding: 5px;
  }
}

.inactive {
  cursor:not-allowed;
}

.left-rail {
  margin-top: 30px;
  h5 {
    background-color: $light-gray;
    padding: 5px 10px;
  }
  .is-active {
    background-color: scale-color($light-gray, $lightness: 60%);
  }
}

.breadcrumbs {
  margin-top: 30px;
}

#areaInput {
  display: block;
  width: 50%;
}

tr {
  text-align: left;
}

th:hover {
  cursor: pointer;
}

.program-cta h4 {
  margin-top: 10px;

}

