// shoreline cc prototype custom styles
// ------------------------------------

.img-bg {
  background-color: $light-gray;
  background-size: 100%;
  margin: 50px 0;
  padding: 20px 0;
  &.img h1, &.img h3 {
    color: $white;
  }
}

.home-stat {
  font-size: 125%;
  font-weight: 500;
  div {
    padding: 0 25px;
  }
  p {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background-color: $light-gray;
    padding:40px;
    text-align: center;
  }
}

.card {
  display: block;
  float: left;
  width: 275px;
  margin: 12px;
  border: solid 1px $light-gray;
  div {
    padding: 10px;
  }
}

.inactive {
  cursor:not-allowed;
}