---
layout: default
---
<div class="row">

  {% include left-rail.html %}

  <div class="small-10 columns">

    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="/">Shoreline Community College</a></li>
        <li><a href="/programs.html">Programs</a></li>
        <li>Areas of Study</li>
      </ul>
    </nav>

    <h1>Areas of Study</h1>
    <p>Shoreline offers programs that cross all areas of study including Arts, Health, Technology, Business, and Social Sciences.</p>



    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Areas of Study">

    <table id="areaOfStudy">
      <tr class="header">
        <th onclick="sortTable(0)" style="width:45%;">Area of Study <i class="fa fa-sort"></th>
        <th onclick="sortTable(1)" style="width:25%;">Program <i class="fa fa-sort"></th>
        <th onclick="sortTable(2)" style="width:15%;">Type <i class="fa fa-sort"></th>
        <th style="width:15%;">Transfer <i class="fa fa-sort"></th>
      </tr>
      {% for area in site.data.planning-guides %}
      <tr>
        <td>{{ area.focus}}{{ area.mrp }}{{ area.concentration}}{{ area.pathway }}</td>
        <td>{{ area.program}}</td>
        <td>{{ area.credential}}</td>
        <td>
            {% if area.articulation == 'transfer' %}
              Yes
            {% else %}
              No
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>