<div class="top-bar">
  <div class="row">
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">{{ site.title }}</a></li>
        {% for nav in site.data.navigation %}
          {% if nav.label %}
            <li>
              <a href="{{ nav.path }}">{{ nav.label }}</a>
              {% if nav.sub-nav %}
              <ul class="menu vertical">
                <li><a href="/fields-industries.html">Fields & Industries</a></li>
                <li><a href="/areas-of-study.html">Areas of Study</a></li>
                <li><a href="#" class="inactive">University Transfer</a></li>
                <li><a href="#" class="inactive">Professional & Technical</a></li>
                <hr>
                <li><a href="#" class="inactive">Online Programs</a></li>
                <li><a href="#" class="inactive">High School</a></li>
                <li><a href="#" class="inactive">International</a></li>
                <li><a href="#" class="inactive">Continuing Education</a></li>
              </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
</div>