<div class="title-bar" data-responsive-toggle="scc-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="scc-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="scc-menu">
  <div class="row">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/" id="site-title">{{ site.title }}</a></li>

      {% for nav in site.data.navigation %}
        {% if nav.label != previous %}
        <li>
          <a href="{{ nav.path }}" class="{{ nav.class }}">{{ nav.label }}</a>
          {% if nav.sub-nav %}
            {% for subnav in site.data.navigation %}   
              {% if forloop.first %}<ul class="menu vertical">{% endif %}
              {% if subnav.label-2 and subnav.label == nav.label %}
                <li>
                  <a href="{{ subnav.path-2 }}" class="{{ subnav.class }}">{{ subnav.label-2 }}</a>
                </li>
              {% endif %}
              {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
          {% endif %}
        </li>
        {% endif %}    
      {% assign previous = nav.label %} 
      {% endfor %}
    </ul>
  </div>
  </div>
</div>