  <div class="small-2 columns">
    <ul class="left-rail vertical menu">
      <li><h5>Programs</h5></li>
      <li {% if page.url == "/fields-industries.html" %} class="is-active" {% endif %}><a href="/fields-industries.html">Fields & Industries</a></li>
      <li {% if page.url == "/areas-of-study.html" %} class="is-active" {% endif %}><a href="/areas-of-study.html" class="inactive">Areas of Study</a></li>
      <li><a href="#" class="inactive">University Transfer</a></li>
      <li><a href="#" class="inactive">Professional & Technical</a></li>

    </ul>
  </div>