---
layout: default
---
<div class="row">
  <div class="small-2 columns">
    <ul>
      <li><a href="/programs.html">Programs</a></li>
      <li><a href="/fields-industries.html">Fields & Industries</a></li>
      <li><a href="#" class="inactive">Areas of Study</a></li>
      <li><a href="#" class="inactive">University Transfer</a></li>
      <li><a href="#" class="inactive">Professional & Technical</a></li>
    </ul>
  </div>

  <div class="small-10 columns">
    <h1>{{ page.program | capitalize }}</h1>
    <p>{{ page.description }}</p>

    <!-- Transfer forloop -->
    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "AA-DTA" 
          or guide.credential == "AM" 
          or guide.credential == "AFA" 
          or guide.credential == "AS-T 1" 
          or guide.credential == "AS-T 2" %}
            <h3>University Transfer Degrees</h3>
            <ul>
          {% break %}
        {% endif %}
      {% endif %}  
    {% endfor %}  

    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "AA-DTA" 
              or guide.credential == "AM" 
              or guide.credential == "AFA" 
              or guide.credential == "AS-T 1" 
              or guide.credential == "AS-T 2" %}
          <li><a href="#">{{ guide.page-name | capitalize }} ({{ guide.credential }})</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for guide in site.data.planning-guides %}
    {% if page.program == guide.program %}
      {% if guide.credential == "AA-DTA" 
        or guide.credential == "AM" 
        or guide.credential == "AFA" 
        or guide.credential == "AS-T 1" 
        or guide.credential == "AS-T 2" %}
          </ul>
        {% break %}
        {% endif %}
      {% endif %}  
    {% endfor %} 

    <!-- Non-transfer Associate forloop -->
    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "AAAS" %}
          <h3>Non-Transfer Associate Degrees</h3>
          <ul>
          {% break %}
        {% endif %}
      {% endif %}  
    {% endfor %} 

    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "AAAS" %} 
          <li><a href="#">{{ guide.page-name | capitalize }} ({{ guide.credential }})</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for guide in site.data.planning-guides %}
    {% if page.program == guide.program %}
      {% if guide.credential == "AAAS" %}
          </ul>
        {% break %}
        {% endif %}
      {% endif %}  
    {% endfor %} 

    <!-- Certificate forloop -->
    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "CP" 
              or guide.credential == "CC" 
              or guide.credential == "ST" %}
          <h3>Certificates</h3>
          <ul>
          {% break %}
        {% endif %}
      {% endif %}  
    {% endfor %} 

    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "CP" 
              or guide.credential == "CC" 
              or guide.credential == "ST" %} 
          <li><a href="#">{{ guide.page-name | capitalize }} ({{ guide.credential }})</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for guide in site.data.planning-guides %}
      {% if page.program == guide.program %}
        {% if guide.credential == "CP" 
              or guide.credential == "CC" 
              or guide.credential == "ST" %}
          </ul>
          {% break %}
        {% endif %}
      {% endif %}  
    {% endfor %} 
  </div>
</div>